.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.food_img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.food_img_large{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.new-form-s{
  display: flex;
  float: left;
  margin-right: 10px;
  padding-top: 55px;

}
.recipe-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  float: center;

  padding-left: 50px;
  padding-right: 8px;
  flex: 1;
  overflow:auto;
}
.recipe-card{
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 25px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.recipe-card:hover{
  transform: scale(1.05);
}
.logo{
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  float: left;
  padding-left: 15px;
}
h2, h3{
  font-family: 'Tajawal', sans-serif;
  color: rgb(107, 119, 122);
}
.recipe-item-bold{
  color: rgb(107, 119, 122); 
}
body{
  font-family: 'PT Sans', sans-serif;
}
a {
  color:rgb(133, 172, 187);
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color:rgb(187, 133, 182) 
}
.show-cuisine{
  padding: 15px;
}
.show-ingredients{
  padding: 15px;
}
button:hover{
  cursor: pointer;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
#nav-item{
  display: block;
  float: right;
  padding: 10px 10px;
}
